## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("C:/Users/sweir/OneDrive/Desktop/Analysis Projects/World_Weather_Analysis/Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Albany,US,42.6001,-73.9662,60.80,90,89,1.99,overcast clouds
1,1,Poum,NC,-20.2333,164.0167,74.82,66,2,14.38,clear sky
2,2,Lagoa,PT,39.0500,-27.9833,69.28,90,100,19.15,overcast clouds
3,3,Puerto Ayora,EC,-0.7393,-90.3518,68.56,94,40,5.99,scattered clouds
4,4,Kapaa,US,22.0752,-159.3190,84.18,75,75,3.00,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 73
What is the maximum temperature you would like for your trip? 88

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Poum,NC,-20.2333,164.0167,74.82,66,2,14.38,clear sky
4,4,Kapaa,US,22.0752,-159.3190,84.18,75,75,3.00,broken clouds
5,5,Manggar,ID,-2.8833,108.2667,86.11,66,76,11.16,broken clouds
9,9,Eydhafushi,MV,5.1033,73.0708,83.34,78,92,16.53,overcast clouds
12,12,Saint-Philippe,RE,-21.3585,55.7679,77.22,87,8,8.01,clear sky
18,18,Sao Miguel Do Araguaia,BR,-13.2750,-50.1628,82.80,45,100,3.06,overcast clouds
19,19,Airai,TL,-8.9266,125.4092,81.05,39,54,2.91,broken clouds
27,27,Rikitea,PF,-23.1203,-134.9692,74.82,77,100,14.63,overcast clouds
32,32,Padang,ID,-0.9492,100.3543,84.25,76,99,6.55,overcast clouds
35,35,Hirara,JP,24.8000,125.2833,86.27,84,75,26.46,light rain

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                1
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
scrubbed_cities_df = preferred_cities_df.dropna()
scrubbed_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Poum,NC,-20.2333,164.0167,74.82,66,2,14.38,clear sky
4,4,Kapaa,US,22.0752,-159.3190,84.18,75,75,3.00,broken clouds
5,5,Manggar,ID,-2.8833,108.2667,86.11,66,76,11.16,broken clouds
9,9,Eydhafushi,MV,5.1033,73.0708,83.34,78,92,16.53,overcast clouds
12,12,Saint-Philippe,RE,-21.3585,55.7679,77.22,87,8,8.01,clear sky
...,...,...,...,...,...,...,...,...,...,...
698,698,Aklera,IN,24.4167,76.5667,84.27,56,4,4.00,clear sky
699,699,Vung Tau,VN,10.3460,107.0843,81.41,84,100,12.28,overcast clouds
702,702,Maryborough,AU,-25.5333,152.7000,82.54,42,86,11.59,overcast clouds
703,703,Moratuwa,LK,6.7730,79.8816,82.35,78,88,11.59,overcast clouds
706,706,Petatlan,MX,17.5167,-101.2667,76.05,92,12,4.27,few clouds

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = scrubbed_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Poum,NC,74.82,clear sky,-20.2333,164.0167,
4,Kapaa,US,84.18,broken clouds,22.0752,-159.3190,
5,Manggar,ID,86.11,broken clouds,-2.8833,108.2667,
9,Eydhafushi,MV,83.34,overcast clouds,5.1033,73.0708,
12,Saint-Philippe,RE,77.22,clear sky,-21.3585,55.7679,
18,Sao Miguel Do Araguaia,BR,82.80,overcast clouds,-13.2750,-50.1628,
19,Airai,TL,81.05,broken clouds,-8.9266,125.4092,
27,Rikitea,PF,74.82,overcast clouds,-23.1203,-134.9692,
32,Padang,ID,84.25,overcast clouds,-0.9492,100.3543,
35,Hirara,JP,86.27,light rain,24.8000,125.2833,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
# 7. Drop the rows where there is no Hotel Name.
scrubbed_hotel_df = hotel_df[hotel_df["Hotel Name"] != '']
scrubbed_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Poum,NC,74.82,clear sky,-20.2333,164.0167,Gîte kajeon
4,Kapaa,US,84.18,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
5,Manggar,ID,86.11,broken clouds,-2.8833,108.2667,Guest Hotel
9,Eydhafushi,MV,83.34,overcast clouds,5.1033,73.0708,Soneva Fushi
12,Saint-Philippe,RE,77.22,clear sky,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
18,Sao Miguel Do Araguaia,BR,82.80,overcast clouds,-13.2750,-50.1628,Hotel Executivo Palace
19,Airai,TL,81.05,broken clouds,-8.9266,125.4092,Juvinal Martin
27,Rikitea,PF,74.82,overcast clouds,-23.1203,-134.9692,People ThankYou
32,Padang,ID,84.25,overcast clouds,-0.9492,100.3543,Mercure Padang
35,Hirara,JP,86.27,light rain,24.8000,125.2833,Hotel Atoll Emerald Miyakojima

In [13]:
# 8a. Create the output File (CSV)
output_data_file = "C:/Users/sweir/OneDrive/Desktop/Analysis Projects/World_Weather_Analysis/Vacation_Search/WeatherPy_Vacation.csv"
# 8b. Export the City_Data into a csv
scrubbed_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in scrubbed_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = scrubbed_hotel_df[["Lat", "Lng"]]

In [18]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))